

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<h1>list out</h1>
<!-- texbox 1 -->
<input #list type="text" style="width:150px;" class="form-control" id="title" placeholder="Enter the Title">
<button (click)="addlist(list.value)" class="btn btn-default">Add</button>
<ul>
    <li *ngFor="let add of added">{{add}}</li>
</ul>
<!-- texbox 2 -->
<div>
    <li *ngFor="let con of cons">
        Title: {{title}}, Body: {{body}}
    </li>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-4">
                <input [(ngModel)]="con.title" style="width:500px;" class="form-control" placeholder="Enter the Title" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="content">Body:</label>
            <div class="col-sm-4">
                <input [(ngModel)]="con.body" style="width:500px;" class="form-control" placeholder="body content" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </form>
    <!-- BUTTON -->
    <div>
        <button (click)="conadd()" class="btn btn-default" style="margin-left:120px;">Add </button>
    </div>
</div>
<div *ngIf="contitle" [ngClass]="'success'"> {{contitle}} Added. </div>
<div *ngIf="conbody" [ngClass]="'success'"> {{conbody}} Added. </div>
<div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>
<!--  data to view -->
<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Body</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsArray">
                    
                    <td class="text-center" style="width: 15px;">{{post.id}}</td>
                    <td class="text-center" style="width: 200px;">{{post.title}}</td>
                    <td class="text-center" style="width: 200px;">{{post.body}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>